<!DOCTYPE html>
<html>
	<head>
		<title>Travel Dashboard</title>
	</head>
	<body>
		Hello {{user.first_name}}

		<a href = '/dashboard/add'>Add Travel Plan</a>
		<a href = '/dashboard/logout'> Logout</a>
		<h3> Your Trip Schedules</h3>
		{% for destination in destinations %}
			Name: 
			<a href = '/dashboard/destination/{{destination.id}}'>
			{{destination.name}}</a><br/>
			Added By: {{destination.creator_user.first_name}}<br/>
			Start Date: {{destination.start_date}}<br/>
			End Date: {{destination.end_date}}<br/>
			Plan: {{destination.plan}}<br/>
		{% endfor %}			
		
		<h3> Other User's Travel Plans</h3>
		{% for destination in other_destinations %}
			Name: 
			<a href = '/dashboard/destination/{{destination.id}}'>
			{{destination.name}}</a><br/>
			Added By: {{destination.creator_user.first_name}}<br/>
			Start Date: {{destination.start_date}}<br/>
			End Date: {{destination.end_date}}<br/>
			Do You Want to Join? <a href = '/dashboard/join/{{destination.id}}'>Join</a>
			<hr/>
		{% endfor %}
	</body>
</html>